<!DOCTYPE html>
<html lang="en">

<head>
    <title>Orari</title>
    {{>head.hbs}}

    <style>
        #table_bart {
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        #table_bart td, #table_bart th {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: center;
        }

        #table_bart input {
          background-color: #0064a8; /* Blue */
          border: none;
          color: white;
          padding: 15px 32px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 16px;
        }

        #table_bart tr:nth-child(even){background-color: #f2f2f2;}

        #table_bart tr:hover {background-color: #ddd;}

        #table_bart th {
          padding-top: 12px;
          padding-bottom: 12px;
          text-align: left;
          background-color: #0064a8;
          color: white;
        }

        #header_bart {
          color: #0064a8;
          text-align: center;
          font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        }
        </style>
</head>
<body>
<h1 id="header_bart">Schedules</h1>
<table id="table_bart">
    <tr>
        <th>Platform</th>
        <th>Time</th>
        <th>Destination</th>
        <th colspan="2"></th>
    </tr>
    {{#each Schedules}}
        <tr>
            <td>{{platform}}</td>
            <td>{{origTime}}</td>
            <td>{{trainHeadStation}}</td>
            <td>
                <form action="newReservation/{{trainId}}" method="POST">
                    <input type="submit" value="Book">
                </form>
            </td>
            <td>
                <form action="/newReservationWithBike/{{trainId}}" method="POST">
                    <input type="submit" value="Book with a bike">
                </form>
            </td>
        </tr>
    {{/each}}
</table>
</body>
</html>